.header{
   background-color: var(--gray-800);
   color: var(--gray-100);
   display:flex;
   justify-content:center;
   align-items:center;
   padding: 1.24rem 0;
   gap: 10px;
}
.header img{
    height: 2rem;
}