.card{
    display:flex;
    flex-direction:column;
    padding:10px;
    background-color: var(--gray-800);
    border-radius:8px;
    gap: 10px;
}
.header{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap: 0.3rem;
    justify-content:space-between
}
.title{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:1rem;
}
.wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 0.2rem;
}
.header span{
    display:block;
}
.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}